<div class="navbar navbar-inverse">
  <div class="container">
    <a href="#" class="navbar-brand">Prueba 3 Desafio Latam Ruby On Rails</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href=<%= root_path %>>Index</a></li>
      <li><a href=<%= todos_list_path %>>Lista de Tareas</a></li>
      <li><a href=<%= todos_new_path %>>Nueva Tarea</a></li>
    </ul>
  </div>
</div>
