<div class="row">
  <div class="col-md-8">
     <%= todo.description %>
  </div>
  <div class="col-md-4 text-center">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default btn-sm"><%= link_to "Editar", todo_edit_path(todo) %></button>
    </div>
  </div>
</div>
